<h1>Edit</h1>

<%= form_for @product do |f| %>

<%= f.label :brand_name, "Brand Name" %>
<%= f.text_field :brand_name %><br/>

<%= f.label :category, "Category" %>
<%= f.text_field :category %><br/>

<%= f.label :mtype, "Type" %>
<%= f.text_field :mtype %><br/>

<%= f.label :spec, "Spec" %>
<%= f.text_area :spec %><br/>

<%= f.submit "Update"  %>

<% end %>
